:root {
    --text: #12130F;
    --background: #878787;
}
body {
    background-color: var(--background); 
    color: var(--text);
    text-align: center;
}
.info {
    border: 1px solid var(--text);
}